<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}


    {% if message %}
    <h2>{{ message }}</h2>
    <script>message('{{ message }}')</script>
    {% endif %}

    <form action="/signup" method="post">
        userID : <input type="text" name="userId"><br>
        userPw : <input type="password" name="userPw"><br>
        userName : <input type="text" name="userName"><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>